<li>
<p>{{this.content}}</p>
<p> Name: {{user.username}} </p>
<form action="/profile/comments" method="POST">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit">Save</button>
  </div>
</form>
</li>
<ul>
{{#each this.comments}}
  {{> comments}}
{{/each}}
</ul>
