<div class="form-group">
  <label for="title">Departure Date</label><br>
  <input class="form-control" type="text" name="departsOn" value="{{trip.departsOn}}"/>
</div>

<!-- MOVIE TITLE -->
<div class="form-group">
  <label for="returnDate">Return Date</label><br>
  <input class="form-control" type="text" name="returnsOn" value="{{trip.returnsOn}}" />
</div>
<!-- BUTTON -->
<p>
    <button type="submit" class="btn btn-primary">Save Trip</button>
    <button onclick="location.href='/'" class="btn btn-primary">
     Cancel</button>
</p>
