<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <button>New Comment</button>
    <form method="POST" action="/trips/{{tripId}}/comments">
      {{> comments-form }}
    </form>
  </div>
</div>
