<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Edit Comment</legend>
    <form method="POST" action="/comments?_method=PUT">
      {{> partials/comment }}
    </form>
  </div>
</div>
