

<h1>Login</h1>
<form method="POST" action="/login">
    <p>
        <label class="input-label" for="username">Username</label>
        <input name=userName type="string" name="userName">
    </p>
    <p>
        <label class="input-label" for="password">Phone</label>
        <input name=phoneNumber type="string" name="phoneNumber">
    </p>
    <button type="submit">Login</button>

</form>
