<h1>Trips</h1>

<a href="/trips/new">New Trip</a>
<br>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    {{#each trips}}
    <a href="/trips/{{this._id}}"><h3>{{formatTime this.departsOn "dddd, MMM D"}} - {{formatTime this.returnsOn "dddd, MMM D"}}</h3></a>
      <hr>
    {{/each}}
  </div>
</div>
