<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p>{{trip.departsOn}}</p>
    <p>{{trip.returnsOn}}</p>
    <a href="/trips/{{trip._id}}/edit">Edit</a>
  </div>
</div>
