
<style>

body {
  background-color: #157efe;
  color: white;
}

</style>
<!-- <div class="row"> -->

  <div class="col-sm-9">
    <legend>Make A Trip</legend>
    <form method="POST" action="/trips">
      {{> trips-form }}
    </form>
  </div>
</div>
