
<!-- <div class="row"> -->

<h1> Current Trips </h1>
  <div class="col-sm-9">
    <h1> Current Trips </h1>
    <legend>Make A Trip</legend>
    <form method="POST" action="/trips">
      {{> trips-form }}
    </form>
  </div>
</div>
