<div class="form-group">
  <label for="origin">Name</label><br>
  <select class="form-control" name="name" value="{{user.fullName}}">
      <!-- <option>San Francisco</option>
      <option>Oakland</option> -->
  </select>
</div>

<div class="form-group">
  <label for="destination">Location</label><br>
  <select class="form-control" name="destination" value="{{trip.origin}}">
      <option>San Francisco</option>
      <option>Oakland</option>
  </select>
</div>



<div class="form-group">
  <label for="destination">Location</label><br>
  <select class="form-control" name="destination" value="{{user.email}}">
  </select>
</div>


<div class="form-group">
  <label for="destination">Location</label><br>
  <select class="form-control" name="destination" value="{{user.phone}}">
  </select>
</div>


<!-- BUTTON -->
<p>
    <button type="submit" class="btn btn-primary">Save Trip</button>
    <a href="/" class="btn btn-primary">
     Cancel</a>
</p>
