body {
   color: black;
}

.carousel-caption {
  color: black;
}
.more-info {
  width: 50%;

}

.info img {
  height: 600px;
}
.content1 {
  float: right;
  width: 40%;
  height: 600px;
  padding-bottom: 100px;
}

.inner {
  height: 350px;
}

.info1 img {
  width: 50%;
  height: 600px;
  float: right;
}
